<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/../stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="row">
      <div class="column">
        <p>Smart Lights:</p>
        <div class="list-group">
          <% lights.forEach((light) => { %>
            <div class="list-group-item">
              <a href="/?light_id=<%= light.id %>&on=<%= light.on=='ON'?0:1%>">
                <h4 class="list-group-item-heading"><%= light.name %></h4>
              </a>
              <p class="list-group-item-text"><%= light.on %></p>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="column">
        <p>Thermostats:</p>
      </div>
    </div>
  </body>
</html>
