<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Smart Lights:</p>
    <div class="list-group">
      <% lights.forEach((light) => { %>
        <h4 class="list-group-item-heading"><%= light.id %></h4>
        <p class="list-group-item-text"><%= light.type %></p>
      <% }) %>
    </div>
  </body>
</html>
